@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  --color-bg-black: #1b0e0e;
  --color-bg: #D3D0CB;
  --color-primary: #1D2D44;
  --color-primary-variant: #0D1321;
  --color-white: white;
  --color-light: #748CAB;

  --transition: all 400ms ease;
}
::-webkit-scrollbar {
  display: none;
}

body {
  font-family: 'Poppins', sans-serif;
  background: var(--color-bg); 
  color: var(--color-primary);
  line-height: 1.7;
}

h1,h2,h3 { font-weight: 500;}

h1 {
  font-size: 2.5rem;
}

.btn {
  width: max-content;
  display: inline-block;
  color: var(--color-primary);
  padding: 0.75rem 1.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 1px solid var(--color-primary);
}

.btn:hover {
  border: 1px solid white;
  border-color: var(--color-bg-black);
  background: var(--color-bg-variant);
  color: var(--color-primary);
}

.btn-primary {
  background: var(--color-primary);
  color: var(--color-bg);
}

input {
  padding: 0.8rem;
  background: transparent;
  border: 2px solid var(--color-bg-black);
  border-radius: 0.4rem;
  color: var(--color-light);
  transition: var(--transition);
}

input:focus, textarea:focus {
  background: var(--color-primary);
}